<?xml version="1.0" ?>
<robot name="tars_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find tars_robot_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find tars_robot_description)/urdf/tars_robot.trans" />
  <xacro:include filename="$(find tars_robot_description)/urdf/tars_robot.gazebo" />

  <!-- Dimensions (in meters) -->
  <xacro:property name="leg_width" value="0.065"/>
  <xacro:property name="leg_depth" value="0.065"/>
  <xacro:property name="leg_height" value="0.255"/>
  
  <xacro:property name="center_width" value="0.11"/> <!-- Y -->
  <xacro:property name="center_depth" value="0.065"/> <!-- X -->
  <xacro:property name="center_height" value="0.255"/> <!-- Z -->

  <xacro:property name="gap" value="0.005"/> <!-- Gap between legs and center -->

  <link name="dummy_link"></link>
  <joint name="dummy_joint" type="fixed">
    <parent link="dummy_link"/>
    <child link="base_link"/>
  </joint>

  <!-- IMU Link -->
  <link name="imu_link">
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- CENTER BODY (Base Link) -->
  <link name="base_link">
    <inertial>
      <mass value="1.5"/> <!-- center is heavy than the legs  -->
      <origin xyz="0 0 -0.08" rpy="0 0 0"/> <!-- Center of mass is a littlel bit down so to account for movement -->
      <inertia ixx="${(1/12)*1.5*(center_height*center_height + center_depth*center_depth)}" 
               iyy="${(1/12)*1.5*(center_height*center_height + center_width*center_width)}" 
               izz="${(1/12)*1.5*(center_width*center_width + center_depth*center_depth)}" 
               ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${center_depth} ${center_width} ${center_height}"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${center_depth} ${center_width} ${center_height}"/>
      </geometry>
    </collision>
  </link>


  <!-- This link moves vertically relative to the body (Prismatic Joint) -->
  
  <link name="leg_carriage">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="joint_center_linear" type="prismatic">
    <origin xyz="0 0 -0.0025" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="leg_carriage"/>
    <axis xyz="0 0 1"/> <!-- Moves up/down -->

    <limit lower="-0.046" upper="0.046" effort="100.0" velocity="1.0"/>
    <dynamics damping="10.0" friction="5.0"/>
  </joint>

  <!-- LEFT LEG -->


  <link name="left_leg">
    <inertial>
      <mass value="0.4"/> <!-- legs are lighter than the center body -->
      <origin xyz="0 0 ${0.04 - leg_height/2 - 0.05}" rpy="0 0 0"/> 

      <inertia ixx="${(1/12)*0.4*(leg_height*leg_height + leg_depth*leg_depth)}" 
               iyy="${(1/12)*0.4*(leg_height*leg_height + leg_width*leg_width)}" 
               izz="${(1/12)*0.4*(leg_width*leg_width + leg_depth*leg_depth)}" 
               ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 ${0.04 - leg_height/2}" rpy="0 0 0"/>
      <geometry>
        <box size="${leg_depth} ${leg_width} ${leg_height}"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 ${0.04 - leg_height/2}" rpy="0 0 0"/>
      <geometry>
        <box size="${leg_depth} ${leg_width} ${leg_height}"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_left_leg" type="revolute">
    <origin xyz="0 0.0925 0.09" rpy="0 0 0"/> 
    <parent link="leg_carriage"/>
    <child link="left_leg"/>
    <axis xyz="0 1 0"/> 
    <limit lower="-3.14" upper="3.14" effort="100.0" velocity="2.0"/>
    <dynamics damping="5.0" friction="2.0"/>
  </joint>

  <!-- RIGHT LEG -->
  <link name="right_leg">
    <inertial>
      <mass value="0.4"/>   <!-- legs are lighter than the center body -->
      <origin xyz="0 0 ${0.04 - leg_height/2 - 0.05}" rpy="0 0 0"/> 
      <inertia ixx="${(1/12)*0.4*(leg_height*leg_height + leg_depth*leg_depth)}" 
               iyy="${(1/12)*0.4*(leg_height*leg_height + leg_width*leg_width)}" 
               izz="${(1/12)*0.4*(leg_width*leg_width + leg_depth*leg_depth)}" 
               ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 ${0.04 - leg_height/2}" rpy="0 0 0"/>
      <geometry>
        <box size="${leg_depth} ${leg_width} ${leg_height}"/>
      </geometry>
      <material name="silver"/>
    </visual>
    <collision>
      <origin xyz="0 0 ${0.04 - leg_height/2}" rpy="0 0 0"/>
      <geometry>
        <box size="${leg_depth} ${leg_width} ${leg_height}"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_right_leg" type="revolute">
    <origin xyz="0 -0.0925 0.09" rpy="0 0 0"/>
    <parent link="leg_carriage"/>
    <child link="right_leg"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.14" upper="3.14" effort="100.0" velocity="2.0"/>
    <dynamics damping="5.0" friction="2.0"/>
  </joint>

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
    <joint name="joint_center_linear">
      <command_interface name="position">
        <param name="min">-0.046</param>
        <param name="max">0.046</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_left_leg">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_right_leg">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

</robot>
